<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FileCrapper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <FileCrapper.Properties.Settings>
            <setting name="ByteSwapped" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ByteGenerate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ByteNullify" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Rounds" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DamageChance" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="FileInSubfolderIncluded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExcludeHeaderBytes" serializeAs="String">
                <value>True</value>
            </setting>
        </FileCrapper.Properties.Settings>
    </userSettings>
</configuration>